{% extends 'main/base.html' %}
{% block content %}

<style>
    table, td {
        border: 2px solid black;
        border-collapse: collapse;
    }

    th {
        color: white;
    }
    
    td {
        padding: 5px 10px;
        color: black;
    }
    
    thead {
        background-color: black;
    }
</style>

<h3>Listagem de Presença</h3>

<form style="margin-bottom: 20px;" method="GET">
    <input type="text" name="nome" placeholder="Buscar por Aluno"/>
    <input type="submit" value="Buscar"/>
</form>
<table>
    <thead>
        <tr>
            <th>Nome do Aluno</th>
            <th>Data do Pagamento</th>
            <th>Presente</th>
            <!--<th>Opções</th>-->
        </tr>
        <tbody>
            {% for presenca in object_list %}
            <tr>
                <td>{{ presenca.nome_aluno_presenca }}</td>
                <td>{{ presenca.data_presenca|date:'d/m/Y' }}</td>
                <td>
                    {% if presenca.presente %}
                    Sim 
                    {% else %}
                    Não
                    {% endif %}
                </td>
                <!--<td>
                    <a style="color: darkslateblue; text-decoration: none;" href="{% url 'presenca.editar' presenca.pk %}">Editar</a>
                    <a style="color: darkslateblue; text-decoration: none;" href="{% url 'presenca.excluir' presenca.pk %}">Excluir</a>
                </td>-->
            </tr>
            {% endfor %}
        </tbody>
    </thead>
</table>
{% endblock content %}