{% if user.is_authenticated %}

    <style>
        #menu {
            list-style-type: none;
            padding: 10px;
            background-color: black;
        }
        
        #menu li {
            display: inline;
        }
        
        #menu li a {
            color: bisque;
            text-decoration: none;
            padding: 30px;
        }
        
        #menu li a:hover {
            color: darkslateblue;
        }
    </style>

    <div class="menu" style="text-align: center;">
        <ul id="menu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'usuario.index' %}">Usuários</a></li>
            <li><a href="{% url 'usuario.novo' %}">Novo</a></li>
            <li><a href="{% url 'logout' %}">Log out</a></li>
        </ul>
    </div>
{% endif %}